<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ProjectD</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>15.207.156.254</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>fb</string>
		<string>facebook-stories</string>
		<string>mailto</string>
		<string>instagram</string>
		<string>instagram-stories</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need your camera access</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This is for Mic permission</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SNIXX needs access to your location to find you matches nearby.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SNIXX needs access to your location to find you matches nearby.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need your files access</string>
	<key>NSContactsUsageDescription</key>
	<string>snixx needs access to your contacts to connect you with friends already on the app.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/AntDesign.ttf</string>
		<string>Fonts/Entypo.ttf</string>
		<string>Fonts/EvilIcons.ttf</string>
		<string>Fonts/Feather.ttf</string>
		<string>Fonts/FontAwesome.ttf</string>
		<string>Fonts/FontAwesome5_Brands.ttf</string>
		<string>Fonts/FontAwesome5_Regular.ttf</string>
		<string>Fonts/FontAwesome5_Solid.ttf</string>
		<string>Fonts/Foundation.ttf</string>
		<string>Fonts/Ionicons.ttf</string>
		<string>Fonts/MaterialIcons.ttf</string>
		<string>Fonts/MaterialCommunityIcons.ttf</string>
		<string>Fonts/SimpleLineIcons.ttf</string>
		<string>Fonts/Octicons.ttf</string>
		<string>Fonts/Zocial.ttf</string>
		<string>Fonts/Fontisto.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>GTMaruBlack.ttf</string>
		<string>GTMaruBlackOblique.ttf</string>
		<string>GTMaruBold.ttf</string>
		<string>GTMaruBoldOblique.ttf</string>
		<string>GTMaruLight.ttf</string>
		<string>GTMaruLightOblique.ttf</string>
		<string>GTMaruMedium.ttf</string>
		<string>GTMaruMediumOblique.ttf</string>
		<string>GTMaruRegular.ttf</string>
		<string>GTMaruRegularOblique.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>Coolvetica Rg It.ttf</string>
		<string>CoolveticaHvComp.ttf</string>
		<string>CoolveticaRg.ttf</string>
		<string>CoolveticaRgCond.ttf</string>
		<string>CoolveticaRgCram.ttf</string>
		<string>Horizon_Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
